.auto-play__wrapper {
    max-width: 550px;
    width: 100%;
    font-size: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: auto;
    padding: 60px 10px 20px;
}

.input-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.auto-play__input {
    max-width: 400px;
    width: 100%;
    padding: 10px 15px;
    border-radius: 30px;
}

@media (max-width: $tablet-width) {
    .auto-play__wrapper {
        font-size: 2rem;
    }
}

@media (max-width: $mobile-width) {
    .auto-play__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
    }
    .input-block {
        text-align: center;
    }
}