.header {
    padding: 20px 10px;
}

.header__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 6.4rem;
}

@media (max-width: $tablet-width) {
    .header__title {
        font-size: 4.6rem;
    }
}

@media (max-width: $mobile-width) {
    .header__title {
        font-size: 3rem;
    }
}